.Menu {
    background: #000;
}

.Menu .logotype {
    margin-left: 35px;
}

.Menu .logotype img {
    width: 100px;
}

.Menu ul {
    margin-right: 35px;
}

.itemList span {
    text-decoration: none;
    color: #ff0;
    font-family: "HELVETICA";
    font-weight: bold;
    font-size: 7px;
}

.itemList {
    list-style: none;
    padding: 7px;
    display: flex;
    align-items: center;
}

.itemList a {
    text-decoration: none;
    color: #ff0;
    font-family: "HELVETICA";
    font-weight: bold;
}

.itemList img {
    width: 25px;
    margin-right: 10px;
}

.itemList span {
    font-family: "HELVETICA";
    font-weight: bold;
    font-size: 17px;
}

