body {
    margin: 0;
}

.bg-black {
    background: #000;
    color: #ff0;
}

.full-height {
    min-height: 100vh !important;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-end {
    text-align: end;
}

.w-25 {
    width: 25%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}
